tqdm>=4.67.1
torch>=2.6.0
numpy>=1.26.4
webdataset>=0.2.100
fire>=0.4.0
torchvision>=0.21.0
open-clip-torch>=2.30.0
ffmpeg>=1.4
opencv-python
youtube_dl
video2numpy>=2.3.3
fsspec>=2024.9.0
pyarrow>=19.0.0
pandas>=2.2.3
asyncio
